.minecraft/config/simplelogin.cfg
.minecraft/saves
.minecraft/screenshots
.minecraft/logs
.minecraft/XaeroWaypoints*
.minecraft/usercache.json
.minecraft/usernamecache.json
.minecraft/crafttweaker.log
.minecraft/warpDrive_schematics
.minecraft/texturepacks
.minecraft/shaderpacks
.minecraft/server-resource-packs
.minecraft/crash-reports
.minecraft/coremods
.minecraft/assets
.minecraft/asm
.minecraft/.mixin.out
.minecraft/config/customloadingscreen_timings.nbt
.minecraft/config/AppliedEnergistics2/items.csv
.minecraft/llibrary/debug
.minecraft/CustomSkinLoader/ForgePlugin.log
.minecraft/CustomSkinLoader/ForgePlugin.log
.minecraft/CustomSkinLoader/CustomSkinLoader.log
.minecraft/config/warpdrive/
.minecraft/sl_password.txt
.minecraft/config/jei/bookmarks.ini